@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Car Dealership Assignment</h1>
    <p class="lead">Go to the customers section to get started with searching for customers</p>
    <p>@Html.ActionLink("Go to customers", "Index", "Customers", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>
