@model IEnumerable<Marzhel.PentiaAssignment.Models.Customer>

@{
    ViewBag.Title = "Search by purchase of car model";
}

<h2>Search by purchase of car model</h2>

<form class="form-inline" method="get">
    <div class="form-group">
        <label for="searchbox">Car model</label>
        <input type="text" class="form-control" id="searchbox" name="model" placeholder="Golf GTI">
    </div>
    <button type="submit" class="btn btn-default">Search</button>
</form>
<br />

@Html.Partial("CustomerTable")
