@model IEnumerable<Marzhel.PentiaAssignment.Models.Customer>

@{
    ViewBag.Title = "Search by street";
}

<h2>Search by street</h2>

<form class="form-inline" method="get">
    <div class="form-group">
        <label for="searchbox">Street</label>
        <input type="text" class="form-control" id="searchbox" name="street" placeholder="Frederiksberg Allé 1">
    </div>
    <button type="submit" class="btn btn-default">Search</button>
</form>
<br />

@Html.Partial("CustomerTable")
